/*会社案内*/
#gaiyou{
    margin-top:-135px;
    padding-top:135px;
}
#enkaku{
    margin-top:-135px;
    padding-top:135px;
}
#sisetu-gaiyou{
    margin-top:-135px;
    padding-top:135px;
}
#sosikizu{
    margin-top:-135px;
    padding-top:135px;
}

/*事業紹介*/
#business{
    margin-top:-135px;
    padding-top:135px;
}
#eng{
    margin-top:-135px;
    padding-top:135px;
}

/*製品情報*/
#U-SA-100M,
#U-TP-80M,
#U-SW-100M,
#U-EA-80L,
#SUC-80N,
#SUC-80NS,
#SUC-90S,
#SUC-160NS,
#RUC-140,
#U-LT-24,
#U-FC-16,
#FLOORDiSK,
#PUC-120,
#PUC-20,
#PUC-30,
#UHM-10,
#UHM-02,
#UHM-01,
#UHM-12,
#UHM-80,
#URP-80{
    margin-top:-135px;
    padding-top:135px;
}


/*採用情報*/

#sinsotsu{
    margin-top:-135px;
    padding-top:135px;
}
#tyuto{
    margin-top:-135px;
    padding-top:135px;
}

/*アクセス*/
#rail{
    margin-top:-135px;
    padding-top:135px;
}
#car{
    margin-top:-135px;
    padding-top:135px;
}